.footer {
    background: #DAE4F1;
    display: flex;
}

.footer__wrapper {
    min-width: 600px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
}

.footer p {
    border-left: 1px solid #4A4B4D;
    padding: 3px 0 3px 15px;
    color: #4A4B4D;
    font-weight: 300;
}

.footer__contacts {
    min-width: 100px;
    display: inline-flex;
    justify-content: space-between;
}

.footer__contacts img{
    height: 40px;
    transition: opacity 0.3s ease;
}

.footer__contacts img:hover{
    opacity: 75%;
}