.main-content {
    margin-left: 300px;
    margin-right: 30px;
    padding-top: 20px;
}

.main-content__wrapper {
    border-radius: 25px;
    padding: 40px 60px 50px 50px;
    margin-bottom: 60px;
    min-height: 500px;
    background: white;
}

.main-content h2{
    border-left: 4px solid #2CA2FD;
    margin-top: 40px;
    padding-left: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.main-content h2:first-child{
    margin-top: 0;
}

.main-content p {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.main-content p b{
    font-weight: 500;
}

.main-content img {
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 30px;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
    border-color: #2CA2FD;
}

.main-content th {
    background: #2CA2FD;
    color: white;
    font-weight: 500;
}

.main-content td {
    text-align: center;
}
