@import "header.css";
@import "navigation.css";
@import "main-content.css";
@import "footer.css";
@import "vacancies.css";


* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #F9FBFE;

  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
 }

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px
}